@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    body {
        width: 1400px;
    }
    .break-after {
        page-break-inside: avoid;
        position: relative;
        height: 950px;
    }
}
