@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    body {
        width: 1400px;
    }
    .break-after {
        width: 100%;
        page-break-inside: avoid;
        position: relative;
        height: 900px;
    }
}

@media print {
    body {
        -webkit-print-color-adjust: exact;
    }
}
